#Navbar{
    .navWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #708090ba;
        /* padding: 1rem 2rem;
        background-color: #fff; */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        .logo{
            /* width: clamp(50px, 10vw, 100px); */
            height: clamp(55px, 11vw, 100px);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .navLinks{
            display: flex;
            a{
                text-decoration: none;
                /* color: #333; */
                font-weight: 500;
                &:hover{
                    color: #8ED93F;
                }
            }
        }
    }
}


@media (max-width: 750px) {
    #Navbar{
        .navWrapper{
            .navLinks{
                a{
                    font-size: x-small;
                    font-weight: 400;
                }
            }
        }
    }
}